/* Apply to all buttons */
.button {
    -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#e2e2e2, #ffffff),
    radial-gradient(center 50% 0%, radius 100%, #e6e6e6, #ffffff);
    -fx-background-radius: 8;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: #333333;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #cccccc;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.3) , 6, 0.0 , 0 , 2 );
}

/* Hover effect */
.button:hover {
    -fx-background-color: linear-gradient(#e2e2e2, #c6c6c6),
    linear-gradient(#d2d2d2, #f5f5f5),
    radial-gradient(center 50% 0%, radius 100%, #d6d6d6, #f5f5f5);
    -fx-text-fill: #222222;
}

/* When button is pressed */
.button:pressed {
    -fx-background-color: linear-gradient(#bfbfbf, #9f9f9f),
    linear-gradient(#e2e2e2, #d2d2d2),
    radial-gradient(center 50% 0%, radius 100%, #d6d6d6, #bfbfbf);
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 4, 0.0 , 0 , 2 );
}